#create-control{
    position: fixed;
}
#create-control .button{
    position: absolute;
    background:rgba(0, 0, 0, 0.7);
    border-radius:100%;
    text-align:center;
    color:#fff;
    opacity:.5;
    font-size:10px;
    padding:0;
}