@charset "UTF-8";

@font-face {
  font-family: "untitled-font-4";
  src:url("fonts/untitled-font-4.eot");
  src:url("fonts/untitled-font-4.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-4.woff") format("woff"),
    url("fonts/untitled-font-4.ttf") format("truetype"),
    url("fonts/untitled-font-4.svg#untitled-font-4") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-4" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-4" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars:before {
  content: "\63";
}
.icon-arrows:before {
  content: "\64";
}
.icon-arrow-up:before {
  content: "\65";
}
.icon-arrow-right:before {
  content: "\66";
}
.icon-arrow-left:before {
  content: "\67";
}
.icon-arrow-down:before {
  content: "\68";
}
.icon-arrows-v:before {
  content: "\69";
}
.icon-arrows-h:before {
  content: "\6a";
}
.icon-check:before {
  content: "\6b";
}
.icon-angle-double-down:before {
  content: "\6c";
}
.icon-eye:before {
  content: "\6d";
}
.icon-eye-slash:before {
  content: "\6e";
}
.icon-download:before {
  content: "\6f";
}
.icon-lock:before {
  content: "\70";
}
.icon-times:before {
  content: "\71";
}
.icon-hand-paper-o:before {
  content: "\72";
}
.icon-cog:before {
  content: "\75";
}
.icon-clone:before {
  content: "\76";
}
.icon-file-o:before {
  content: "\77";
}
.icon-trash-o:before {
  content: "\78";
}
.icon-save-disk:before {
  content: "\79";
}
.icon-measures:before {
  content: "\42";
}
.icon-selectr:before {
  content: "\43";
}
.icon-ccw:before {
  content: "\44";
}
.icon-zoom-in:before {
  content: "\46";
}
.icon-zoom-out:before {
  content: "\47";
}
.icon-search:before {
  content: "\48";
}
.icon-expand:before {
  content: "\49";
}
.icon-folder2:before {
  content: "\73";
}
.icon-reply:before {
  content: "\74";
}
.icon-share:before {
  content: "\7a";
}
.icon-grid:before {
  content: "\4a";
}
.icon-info-circle:before {
  content: "\4b";
}
.icon-drawpoly:before {
  content: "\4c";
}
.icon-minusw:before {
  content: "\4e";
}
.icon-layers:before {
  content: "\50";
}
.icon-net-1:before {
  content: "\51";
}
.icon-plusw:before {
  content: "\4d";
}
.icon-plus-1:before {
  content: "\52";
}
.icon-focus2:before {
  content: "\4f";
}
.icon-focus1:before {
  content: "\53";
}
.icon-angle-down:before {
  content: "\54";
}
.icon-angle-left:before {
  content: "\55";
}
.icon-angle-right:before {
  content: "\56";
}
.icon-angle-up:before {
  content: "\57";
}
.icon-plus:before {
  content: "\58";
}
.icon-plus:before {
  content: "\58";
}
.icon-edit:before {
  content: "\59";
}
.icon-mergelayer:before {
  content: "\5a";
}
.icon-focus3:before {
  content: "\30";
}
.icon-keyboard:before {
  content: "\31";
}
.icon-c2p:before {
  content: "\32";
}
.icon-drawrect:before {
  content: "\41";
}
.icon-dl:before {
  content: "\61";
}
.icon-dbdrect:before {
  content: "\45";
}
.icon-drawdbl:before {
  content: "\62";
}
.icon-addpoint:before {
  content: "\33";
}
.icon-joinlines:before {
  content: "\34";
}
.icon-chamfer:before {
  content: "\35";
}
.icon-offsetline:before {
  content: "\36";
}
.icon-vertex:before {
  content: "\37";
}
.icon-spline:before {
  content: "\38";
}
